<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Security Example </title>
</head>
<body>
<section th:fragment="content">
    <div class="dataWrapper">
        <div class="coursesDataBlock dataBlock">
            <label class="dataLabel">Courses:</label>
            <select class="coursesSelect dataSelect">
            </select>
            <input class="courseTextField dataTextField" type="text"/>

            <div class="dataButtons">
                <button class="addOrUpdateCourse" type="button">add or update</button>
            </div>
        </div>
        <div class="categoriesDataBlock dataBlock">
            <label class="dataLabel">Categories:</label>
            <select class="categoriesSelect dataSelect">
            </select>
            <input class="categoryTextField dataTextField" type="text"/>

            <div class="dataButtons">
                <button class="addOrUpdateCategory" type="button">add or update</button>
            </div>
        </div>
        <div class="lessonsDataBlock dataBlock">
            <label class="dataLabel">Lessons:</label>
            <select class="lessonsSelect dataSelect">
            </select>
            <input class="lessonTextField dataTextField" type="text"/>

            <div class="dataButtons">
                <button class="addOrUpdateLesson" type="button">add or update</button>
            </div>
        </div>
        <div class="exercisesDataBlock dataBlock">
            <label class="dataLabel">Exercises:</label>
            <select class="exerciseSelect dataSelect">
            </select>

            <div class="dataButtons">
                <button class="addExercise" type="button">add exercise</button>
            </div>
        </div>
        <div class="resultsDataBlock dataBlock">
            <label class="dataLabel">Result:</label>

            <input type="radio" name="resultType" class="radioOutput" value="output"/>output
            <input type="radio" name="resultType" class="radioCompile" value="compile"/>compile

            <div class="resultOutputWrapper">
                <label class="dataLabel">Output:</label>
                <input class="resultOutput dataTextField" type="text"/>

                <div class="dataButtons">
                    <button class="addOrUpdateResultOutput" type="button">add or update</button>
                </div>
            </div>
            <div class="resultCompileWrapper">
                <label class="dataLabel">Classes:</label>
                <input class="classesCompile dataTextField" type="text"/>
                <label class="dataLabel">Methods:</label>
                <input class="methodsCompile dataTextField" type="text"/>
                <label class="dataLabel">Fields:</label>
                <input class="fieldsCompile dataTextField" type="text"/>

                <div class="dataButtons">
                    <button class="addOrUpdateResultCompile" type="button">add or update</button>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
