<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8"/>
        <title></title>
    </head>
    <body>
        <section class="contentWrapper categoryWrapper" th:fragment="category (category)">
            <h3 th:text="${category.name}"></h3>

            <div th:each="lesson : ${category.lessonsesById}">
                <div>
                    <a href="#" th:href="@{/course/{courseNick}/category/{categoryNick}/lesson/{lessonNick}(courseNick=${category.coursesByCourseId.nick},
                    categoryNick=${category.nick},lessonNick=${lesson.nick},lessonId=${lesson.id})}"
                       th:text="${lesson.name}"></a>
                </div>
            </div>
        </section>
    </body>
</html>