<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<section th:fragment="content">
    <div class="javaExercisesSectionWrapper" style="text-align: left">
        <div th:each="exercise : ${exercises}">
            <div>
                <div th:text="${exercise.getNumber() + '. ' + exercise.getText()}"></div>
                <div><a th:href="@{doExerciseSection(exNumber=${exercise.getNumber()})}">do now</a>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>