body {
    background-color: #333333;
    color: white;
}

a, a:active, a:visited {
    color: #d9411e;
    text-decoration: none;
}

a:hover {
    color: #75a3d1;
}

.contentWrapper {
    padding: 20px 0;
}

.courseWrapper .categoryWrapper {
    padding: 0;
}

.headerWrapper .courseLinks ul {
    padding: 0;
    list-style: none;
}

.headerWrapper .courseLinks ul li {
    width: 100px;
    display: inline-block;
    position: relative;
    text-align: left;
    line-height: 21px;
}

.headerWrapper .courseLinks ul li a {
    width: 100px;
    display: block;
    padding: 5px 10px;
    text-decoration: none;
}

.headerWrapper .courseLinks ul li ul {
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
}

.headerWrapper .courseLinks ul li:hover ul {
    display: block;
}

.headerWrapper .courseLinks ul li ul li,
.headerWrapper .courseLinks ul li ul li a {
    width: 285px;
    background: #f2f2f2;
}

.headerWrapper .courseLinks ul li ul li a:hover {
    color: #fff;
    background: #939393;
}

.headerWrapper {
    border-bottom: 1px solid;
}

.footerWrapper {
    padding: 20px 0;
    border-top: 1px solid;
}