<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<header th:fragment="content">
    <div class="headerWrapper" style="text-align: right">
        <div>
            <div style="font-weight: bold" th:text="'Hello, ' + ${name} + '!'"></div>
        </div>
        <div class="mainLinks">
            <span><a th:href="@{../sections/contentSection}">Content</a></span>
            <span><a th:href="@{../sections/contactsSection}">Contacts</a></span>
        </div>
    </div>
</header>
</body>
</html>
